.detail-product {
    margin-top: 60px;
}

.detail-content {
    align-items: flex-start;
}

.product-detail-img {
    width: auto;
    max-width: 100%;
    padding: 0;
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-detail h2 {
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 12px 0px;
}

.box-detail span {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 12px;
}

.box-detail p {
    color: #999;
}

.btn-detail-add-cart {
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 10px 40px;
    background-color: var(--btnbuy);
    width: 80%;
    text-align: center;
    border-radius: 8px;
}

.btn-detail-add-cart i {
    margin-right: 10px;
}

.btn-detail-add-cart:hover {
    color: white;
}

.review-box {
    display: flex;
    align-items: center;
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #999;
    margin-right: 20px;
}

.review-content p {
    margin: 0;
}

.related-products {
    margin-top: 60px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 576px) {
    .product-detail-img {
        width: auto;
        max-width: 50%;
        padding-bottom: 50%;
    }
    .box-detail {
        border-left: 2px solid #eee;
    }
    .product-review {
        margin-top: 30px;
    }
    .product-review h2 {
        text-align: center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .box-detail {
        align-items: flex-start;
        padding: 0px 40px;
    }
    .btn-detail-add-cart {
        width: 60%;
    }
    .product-detail-img {
        width: auto;
        max-width: 50%;
        padding-bottom: 50%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .product-detail-img {
        width: auto;
        max-width: 33.3333%;
        padding-bottom: 33.3333%;
    }
    .review-container {
        padding: 0 16px;
        border-left: 2px solid #eee;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}